In [19]:
import pandas as pd
from itertools import zip_longest

In [2]:
# import the raw_crime_data CSV as a dataframe. 
crime_df = pd.read_csv("data/raw_crime_data.csv")
crime_df.head()

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10

In [3]:
# check that the report_year is a number and note a string
crime_df.dtypes

report_year              int64
agency_code             object
agency_jurisdiction     object
population             float64
violent_crimes         float64
homicides              float64
rapes                  float64
assaults               float64
robberies              float64
months_reported        float64
crimes_percapita       float64
homicides_percapita    float64
rapes_percapita        float64
assaults_percapita     float64
robberies_percapita    float64
dtype: object

In [4]:
len(crime_df)

2829

In [5]:
# choose the years you want to use
years_wanted = [2012, 2013, 2014, 2015]

In [6]:
# Reduce the dataframe to include only the wanted years
crime_df = crime_df.loc[crime_df.report_year.isin(years_wanted)]
crime_df.head()

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
2553,2012,NM00101,"Albuquerque, NM",553684.0,4151.0,41.0,278.0,2740.0,1092.0,12.0,749.71,7.40,50.21,494.87,197.22
2554,2012,TX22001,"Arlington, TX",379295.0,1909.0,17.0,135.0,1225.0,532.0,12.0,503.30,4.48,35.59,322.97,140.26
2555,2012,GAAPD00,"Atlanta, GA",437041.0,6027.0,83.0,113.0,3555.0,2276.0,12.0,1379.05,18.99,25.86,813.42,520.77
2556,2012,CO00101,"Aurora, CO",336952.0,1400.0,17.0,172.0,729.0,482.0,12.0,415.49,5.05,51.05,216.35,143.05
2557,2012,TX22701,"Austin, TX",832901.0,3405.0,31.0,209.0,2187.0,978.0,12.0,408.81,3.72,25.09,262.58,117.42

In [28]:
# Cities included in the other dataset. 
project_cities_list = ["Vancouver","Portland","San Francisco","Seattle","Los Angeles","San Diego","Las Vegas","Phoenix","Albuquerque","Denver","SanAntonio","Dallas","Houston","Kansas City","Minneapolis","St. Louis","Chicago","Nashville","Indianapolis","Atlanta","Detroit","Jacksonville","Charlotte","Miami","Pittsburgh","Toronto","Philadelphia","New York","Montreal","Boston","Beersheba","Tel Aviv","Eilat","Haifa","Nahariyya","Jerusalem"]
project_cities_list = sorted(project_cities_list)

In [29]:
# list of cities in the currently imported data set
datas_city_list = sorted(crime_df.agency_jurisdiction.tolist())

In [30]:
cities_dict = {"Project Cities" : project_cities_list, 
               "Data's Cities": datas_city_list}

In [31]:
for item in zip_longest(project_cities_list, datas_city_list, fillvalue='None'):
    print(item)

('Albuquerque', 'Albuquerque, NM')
('Atlanta', 'Albuquerque, NM')
('Beersheba', 'Albuquerque, NM')
('Boston', 'Albuquerque, NM')
('Charlotte', 'Arlington, TX')
('Chicago', 'Arlington, TX')
('Dallas', 'Arlington, TX')
('Denver', 'Arlington, TX')
('Detroit', 'Atlanta, GA')
('Eilat', 'Atlanta, GA')
('Haifa', 'Atlanta, GA')
('Houston', 'Atlanta, GA')
('Indianapolis', 'Aurora, CO')
('Jacksonville', 'Aurora, CO')
('Jerusalem', 'Aurora, CO')
('Kansas City', 'Aurora, CO')
('Las Vegas', 'Austin, TX')
('Los Angeles', 'Austin, TX')
('Miami', 'Austin, TX')
('Minneapolis', 'Austin, TX')
('Montreal', 'Baltimore County, MD')
('Nahariyya', 'Baltimore County, MD')
('Nashville', 'Baltimore County, MD')
('New York', 'Baltimore County, MD')
('Philadelphia', 'Baltimore, MD')
('Phoenix', 'Baltimore, MD')
('Pittsburgh', 'Baltimore, MD')
('Portland', 'Baltimore, MD')
('San Diego', 'Boston, MA')
('San Francisco', 'Boston, MA')
('SanAntonio', 'Boston, MA')
('Seattle', 'Boston, MA')
('St. Louis', 'Buffalo, NY')
('Tel Aviv', 'Buffalo, NY')
('Toronto', 'Buffalo, NY')
('Vancouver', 'Buffalo, NY')
('None', 'Charlotte, NC')
('None', 'Charlotte, NC')
('None', 'Charlotte, NC')
('None', 'Charlotte, NC')
('None', 'Chicago, IL')
('None', 'Chicago, IL')
('None', 'Chicago, IL')
('None', 'Chicago, IL')
('None', 'Cincinnati, OH')
('None', 'Cincinnati, OH')
('None', 'Cincinnati, OH')
('None', 'Cincinnati, OH')
('None', 'Cleveland, OH')
('None', 'Cleveland, OH')
('None', 'Cleveland, OH')
('None', 'Cleveland, OH')
('None', 'Columbus, OH')
('None', 'Columbus, OH')
('None', 'Columbus, OH')
('None', 'Columbus, OH')
('None', 'Dallas, TX')
('None', 'Dallas, TX')
('None', 'Dallas, TX')
('None', 'Dallas, TX')
('None', 'Denver, CO')
('None', 'Denver, CO')
('None', 'Denver, CO')
('None', 'Denver, CO')
('None', 'Detroit, MI')
('None', 'Detroit, MI')
('None', 'Detroit, MI')
('None', 'Detroit, MI')
('None', 'El Paso, TX')
('None', 'El Paso, TX')
('None', 'El Paso, TX')
('None', 'El Paso, TX')
('None', 'Fairfax County, VA')
('None', 'Fairfax County, VA')
('None', 'Fairfax County, VA')
('None', 'Fairfax County, VA')
('None', 'Fort Worth, TX')
('None', 'Fort Worth, TX')
('None', 'Fort Worth, TX')
('None', 'Fort Worth, TX')
('None', 'Fresno, CA')
('None', 'Fresno, CA')
('None', 'Fresno, CA')
('None', 'Fresno, CA')
('None', 'Honolulu, HI')
('None', 'Honolulu, HI')
('None', 'Honolulu, HI')
('None', 'Honolulu, HI')
('None', 'Houston, TX')
('None', 'Houston, TX')
('None', 'Houston, TX')
('None', 'Houston, TX')
('None', 'Indianapolis, IN')
('None', 'Indianapolis, IN')
('None', 'Indianapolis, IN')
('None', 'Indianapolis, IN')
('None', 'Jacksonville, FL')
('None', 'Jacksonville, FL')
('None', 'Jacksonville, FL')
('None', 'Jacksonville, FL')
('None', 'Kansas City, MO')
('None', 'Kansas City, MO')
('None', 'Kansas City, MO')
('None', 'Kansas City, MO')
('None', 'Las Vegas, NV')
('None', 'Las Vegas, NV')
('None', 'Las Vegas, NV')
('None', 'Las Vegas, NV')
('None', 'Long Beach, CA')
('None', 'Long Beach, CA')
('None', 'Long Beach, CA')
('None', 'Long Beach, CA')
('None', 'Los Angeles County, CA')
('None', 'Los Angeles County, CA')
('None', 'Los Angeles County, CA')
('None', 'Los Angeles County, CA')
('None', 'Los Angeles, CA')
('None', 'Los Angeles, CA')
('None', 'Los Angeles, CA')
('None', 'Los Angeles, CA')
('None', 'Louisville, KY')
('None', 'Louisville, KY')
('None', 'Louisville, KY')
('None', 'Louisville, KY')
('None', 'Memphis, TN')
('None', 'Memphis, TN')
('None', 'Memphis, TN')
('None', 'Memphis, TN')
('None', 'Mesa, AZ')
('None', 'Mesa, AZ')
('None', 'Mesa, AZ')
('None', 'Mesa, AZ')
('None', 'Miami, FL')
('None', 'Miami, FL')
('None', 'Miami, FL')
('None', 'Miami, FL')
('None', 'Miami-Dade County, FL')
('None', 'Miami-Dade County, FL')
('None', 'Miami-Dade County, FL')
('None', 'Miami-Dade County, FL')
('None', 'Milwaukee, WI')
('None', 'Milwaukee, WI')
('None', 'Milwaukee, WI')
('None', 'Milwaukee, WI')
('None', 'Minneapolis, MN')
('None', 'Minneapolis, MN')
('None', 'Minneapolis, MN')
('None', 'Minneapolis, MN')
('None', 'Montgomery County, MD')
('None', 'Montgomery County, MD')
('None', 'Montgomery County, MD')
('None', 'Montgomery County, MD')
('None', 'Nashville, TN')
('None', 'Nashville, TN')
('None', 'Nashville, TN')
('None', 'Nashville, TN')
('None', 'Nassau County, NY')
('None', 'Nassau County, NY')
('None', 'Nassau County, NY')
('None', 'Nassau County, NY')
('None', 'New Orleans, LA')
('None', 'New Orleans, LA')
('None', 'New Orleans, LA')
('None', 'New Orleans, LA')
('None', 'New York City, NY')
('None', 'New York City, NY')
('None', 'New York City, NY')
('None', 'New York City, NY')
('None', 'Newark, NJ')
('None', 'Newark, NJ')
('None', 'Newark, NJ')
('None', 'Newark, NJ')
('None', 'Oakland, CA')
('None', 'Oakland, CA')
('None', 'Oakland, CA')
('None', 'Oakland, CA')
('None', 'Oklahoma City, OK')
('None', 'Oklahoma City, OK')
('None', 'Oklahoma City, OK')
('None', 'Oklahoma City, OK')
('None', 'Omaha, NE')
('None', 'Omaha, NE')
('None', 'Omaha, NE')
('None', 'Omaha, NE')
('None', 'Orlando, FL')
('None', 'Orlando, FL')
('None', 'Orlando, FL')
('None', 'Orlando, FL')
('None', 'Philadelphia, PA')
('None', 'Philadelphia, PA')
('None', 'Philadelphia, PA')
('None', 'Philadelphia, PA')
('None', 'Phoenix, AZ')
('None', 'Phoenix, AZ')
('None', 'Phoenix, AZ')
('None', 'Phoenix, AZ')
('None', 'Pittsburgh, PA')
('None', 'Pittsburgh, PA')
('None', 'Pittsburgh, PA')
('None', 'Pittsburgh, PA')
('None', 'Portland, OR')
('None', 'Portland, OR')
('None', 'Portland, OR')
('None', 'Portland, OR')
('None', "Prince George's County, MD")
('None', "Prince George's County, MD")
('None', "Prince George's County, MD")
('None', "Prince George's County, MD")
('None', 'Raleigh, NC')
('None', 'Raleigh, NC')
('None', 'Raleigh, NC')
('None', 'Raleigh, NC')
('None', 'Sacramento, CA')
('None', 'Sacramento, CA')
('None', 'Sacramento, CA')
('None', 'Sacramento, CA')
('None', 'Salt Lake City, UT')
('None', 'Salt Lake City, UT')
('None', 'Salt Lake City, UT')
('None', 'Salt Lake City, UT')
('None', 'San Antonio, TX')
('None', 'San Antonio, TX')
('None', 'San Antonio, TX')
('None', 'San Antonio, TX')
('None', 'San Diego, CA')
('None', 'San Diego, CA')
('None', 'San Diego, CA')
('None', 'San Diego, CA')
('None', 'San Francisco, CA')
('None', 'San Francisco, CA')
('None', 'San Francisco, CA')
('None', 'San Francisco, CA')
('None', 'San Jose, CA')
('None', 'San Jose, CA')
('None', 'San Jose, CA')
('None', 'San Jose, CA')
('None', 'Seattle, WA')
('None', 'Seattle, WA')
('None', 'Seattle, WA')
('None', 'Seattle, WA')
('None', 'St. Louis, MO')
('None', 'St. Louis, MO')
('None', 'St. Louis, MO')
('None', 'St. Louis, MO')
('None', 'Suffolk County, NY')
('None', 'Suffolk County, NY')
('None', 'Suffolk County, NY')
('None', 'Suffolk County, NY')
('None', 'Tampa, FL')
('None', 'Tampa, FL')
('None', 'Tampa, FL')
('None', 'Tampa, FL')
('None', 'Tucson, AZ')
('None', 'Tucson, AZ')
('None', 'Tucson, AZ')
('None', 'Tucson, AZ')
('None', 'Tulsa, OK')
('None', 'Tulsa, OK')
('None', 'Tulsa, OK')
('None', 'Tulsa, OK')
('None', 'United States')
('None', 'United States')
('None', 'United States')
('None', 'United States')
('None', 'Virginia Beach, VA')
('None', 'Virginia Beach, VA')
('None', 'Virginia Beach, VA')
('None', 'Virginia Beach, VA')
('None', 'Washington, DC')
('None', 'Washington, DC')
('None', 'Washington, DC')
('None', 'Washington, DC')
('None', 'Wichita, KS')
('None', 'Wichita, KS')
('None', 'Wichita, KS')
('None', 'Wichita, KS')

In [21]:
pd.DataFrame(data=zip_longest(project_cities_list, datas_city_list, fillvalue='None'))

TypeError: data argument can't be an iterator

In [9]:
# find the cities in the current data set which are in common with the other data set:
common_cities = []
for city in project_cities_list:
    for datas_city in datas_city_list:
        if city in datas_city:
            common_cities.append(datas_city)
common_cities

['Portland, OR',
 'Portland, OR',
 'Portland, OR',
 'Portland, OR',
 'San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'Seattle, WA',
 'Seattle, WA',
 'Seattle, WA',
 'Seattle, WA',
 'Los Angeles County, CA',
 'Los Angeles, CA',
 'Los Angeles County, CA',
 'Los Angeles, CA',
 'Los Angeles County, CA',
 'Los Angeles, CA',
 'Los Angeles County, CA',
 'Los Angeles, CA',
 'San Diego, CA',
 'San Diego, CA',
 'San Diego, CA',
 'San Diego, CA',
 'Las Vegas, NV',
 'Las Vegas, NV',
 'Las Vegas, NV',
 'Las Vegas, NV',
 'Phoenix, AZ',
 'Phoenix, AZ',
 'Phoenix, AZ',
 'Phoenix, AZ',
 'Albuquerque, NM',
 'Albuquerque, NM',
 'Albuquerque, NM',
 'Albuquerque, NM',
 'Denver, CO',
 'Denver, CO',
 'Denver, CO',
 'Denver, CO',
 'Dallas, TX',
 'Dallas, TX',
 'Dallas, TX',
 'Dallas, TX',
 'Houston, TX',
 'Houston, TX',
 'Houston, TX',
 'Houston, TX',
 'Kansas City, MO',
 'Kansas City, MO',
 'Kansas City, MO',
 'Kansas City, MO',
 'Minneapolis, MN',
 'Minneapolis, MN',
 'Minneapolis, MN',
 'Minneapolis, MN',
 'St. Louis, MO',
 'St. Louis, MO',
 'St. Louis, MO',
 'St. Louis, MO',
 'Chicago, IL',
 'Chicago, IL',
 'Chicago, IL',
 'Chicago, IL',
 'Nashville, TN',
 'Nashville, TN',
 'Nashville, TN',
 'Nashville, TN',
 'Indianapolis, IN',
 'Indianapolis, IN',
 'Indianapolis, IN',
 'Indianapolis, IN',
 'Atlanta, GA',
 'Atlanta, GA',
 'Atlanta, GA',
 'Atlanta, GA',
 'Detroit, MI',
 'Detroit, MI',
 'Detroit, MI',
 'Detroit, MI',
 'Jacksonville, FL',
 'Jacksonville, FL',
 'Jacksonville, FL',
 'Jacksonville, FL',
 'Charlotte, NC',
 'Charlotte, NC',
 'Charlotte, NC',
 'Charlotte, NC',
 'Miami-Dade County, FL',
 'Miami, FL',
 'Miami-Dade County, FL',
 'Miami, FL',
 'Miami-Dade County, FL',
 'Miami, FL',
 'Miami-Dade County, FL',
 'Miami, FL',
 'Pittsburgh, PA',
 'Pittsburgh, PA',
 'Pittsburgh, PA',
 'Pittsburgh, PA',
 'Philadelphia, PA',
 'Philadelphia, PA',
 'Philadelphia, PA',
 'Philadelphia, PA',
 'New York City, NY',
 'New York City, NY',
 'New York City, NY',
 'New York City, NY',
 'Boston, MA',
 'Boston, MA',
 'Boston, MA',
 'Boston, MA']

In [10]:
# Reduce the common_cities list to a unique list of cities 
common_cities = pd.DataFrame(data=common_cities)[0].unique().tolist()
common_cities

['Portland, OR',
 'San Francisco, CA',
 'Seattle, WA',
 'Los Angeles County, CA',
 'Los Angeles, CA',
 'San Diego, CA',
 'Las Vegas, NV',
 'Phoenix, AZ',
 'Albuquerque, NM',
 'Denver, CO',
 'Dallas, TX',
 'Houston, TX',
 'Kansas City, MO',
 'Minneapolis, MN',
 'St. Louis, MO',
 'Chicago, IL',
 'Nashville, TN',
 'Indianapolis, IN',
 'Atlanta, GA',
 'Detroit, MI',
 'Jacksonville, FL',
 'Charlotte, NC',
 'Miami-Dade County, FL',
 'Miami, FL',
 'Pittsburgh, PA',
 'Philadelphia, PA',
 'New York City, NY',
 'Boston, MA']

In [11]:
# Reduce dataframe to include only the cities that are common between both data sets. 
crime_df = crime_df.loc[crime_df.agency_jurisdiction.isin(common_cities)]
crime_df.head()

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
2553,2012,NM00101,"Albuquerque, NM",553684.0,4151.0,41.0,278.0,2740.0,1092.0,12.0,749.71,7.40,50.21,494.87,197.22
2555,2012,GAAPD00,"Atlanta, GA",437041.0,6027.0,83.0,113.0,3555.0,2276.0,12.0,1379.05,18.99,25.86,813.42,520.77
2560,2012,MA01301,"Boston, MA",630648.0,5266.0,57.0,249.0,3050.0,1910.0,12.0,835.01,9.04,39.48,483.63,302.86
2562,2012,NC06001,"Charlotte, NC",808504.0,5238.0,52.0,223.0,3165.0,1798.0,12.0,647.86,6.43,27.58,391.46,222.39
2563,2012,ILCPD00,"Chicago, IL",2708382.0,27620.0,500.0,1372.0,12272.0,13476.0,12.0,1019.80,18.46,50.66,453.11,497.57

In [12]:
#Save the new dataframe to a CSV "cleaned_data.csv"
crime_df.to_csv("data/cleaned_data.csv")